body {

    font-family: 'Dancing Script', cursive;
    font-family: 'Open Sans', sans-serif;

}

#textoTitulo {
    font-family: 'Dancing Script', cursive;
}

#head {
    display: flex;
}

#head>div {
    width: 13%;
}

#head>#menu {
    width: 100%;
}

#menu {
    text-align: left;
    padding: 20px;
}

#menu li {
    display: inline-block;
    text-align: center;
    color: rgb(155, 155, 155);
    width: 100px;
    padding: 1px;
}

#menu li:hover {
    background: #64646490;
    color: #ff0000;
    text-decoration: underline;
}

h1 {
    text-align: left;
    color: #ffffff;

}

.anchoContenedorPrincipal {
    width: 100%;
}

.centrarDiv {
    margin-left: auto;
    margin-right: auto;
}

#divPrincipal {
    vertical-align: top;
}

.border {
    border: 30px;
    border-color: rgb(0, 0, 0);
}

.paralelo {
    display: grid;
    grid-template-columns: 33% 33% 33%;

}

p {
    font-size: 18px;
}

div {
    padding: 5px;
}

table{
   font-size: 25px; 
   border: rgb(105, 217, 255);
}
td {
    border: 1px solid #ffffffdc;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(105, 217, 255);
}

h2, p{
    color: #ffffff;
}
a{
    color: #000000;
}
a:link, a:visited, a:active {
    text-decoration:none;
}
a:hover{
    color: #ffffff;
}