@import "colors";
/* Define standard variables and values for website */
$fontsize: 18px;


/* Use the variables */
body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
} 
.Promo{
  background-color: $bgPromo;
  color: $colorPromo;
}


@mixin colored($color) {
  color: $color;
}

h1{
  @include colored(black);
}
h2{
  @include colored(rgb(162, 162, 162));
}
h3{
  @include colored(rgb(117, 117, 117));
}
