/* Define standard variables and values for website */
$bgcolor: white;
$textcolor: rgb(0, 0, 0);
$fontsize: 18px;

/* Use the variables */
body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}                    